body {
  color: white;
  text-align: center;
  font-style: italic;
}

button {
  background-color: black;
  color: red;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}

div {
  font-size: 2rem;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  color: black;
  font-size: 3rem;
}

p {
  font-size: 2rem;
}
